<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quotes</title>
  </head>
  <body>
    <h1>Welcome {{user.name}}!</h1>
    <a href="/logout">Logout</a>
    <a href='/mylikes'>Go to your likes!</a>
    <h2>Quoteable quotes</h2>
    {% for quote in quotes %}
    <p>
      {{ quote.quotedby }}
    </p>
    <p>
      {{ quote.message }}
    </p>
    <a href="user/name"> {{ user }} </a>
    <a href=/likequote/{{quote.id}}>Add to list!</a>
    {% endfor %}
    <h2>Contribute a quote: </h2>
    <form action='/addquote' method="POST">
      {% csrf_token %}
      Quoted by: <input type="text" name="quotedby" /><br />
      Quote message <input type="text" name="message" /><br />
      <input type="hidden" name="user" value="{{user}}" />
      <input type="submit" value="Submit!" />
    </form>

  </body>
</html>
